Select and filter

In [ ]:
val df = spark.table(table.name).select($"col_name").filter($"col_name" === "" && $"col_name".between(2,8))

In [ ]:
spark.table(table.name).select($"col_name").where($"col_name" >= || $"col_name".isin())

In [ ]:
spark.table(table.name).filter($"col_name".isNotNull) #to filter null values

Group by

In [ ]:
df.groupBy("col_name","col_name").agg(count("col_name").as(""),sum("col_name"))

In [ ]:
df.groupBy("col_name").agg(count(when($"col_name" === "Y",$"col_name")),sum("col_name").as())

In [ ]:
df.groupBy("col_name").agg(sum($"col1" + $"col2").as("total"))

orderby

In [ ]:
df.orderBy($"col_name".desc) # asc default

In [ ]:
df.orderBy($"col1_name",$"col2_name".desc)

In [ ]:
df.sort($"col_name".desc)

with column

In [ ]:
df.withColumn("new_col_name",$"col_name" + $"col_name2")

In [ ]:
df.withColumn("new_col_name",($"col_name" + $"col_name2")/lit(8000))

In [ ]:
df.withColumn($"new_col",when($"col1" ===0,"X" ).otherwise(when($"col1" ===1,"Y").otherwise(when($"col1" ===3,"Z")))))

In [ ]:
df.withColumnRenamed("old_name","new_name")

In [ ]:
df.select($"col1",when($"col1" === 0,"X").when($"col1" === "1","Y").otherwise("null").as("new_col"))

Join
&Union

In [ ]:
val df3 = df1.join(df2,Seq("join_col"),"inner")

In [ ]:
df1.select($"col_1").join(df2.select($"col_r_1",$"col_r_2"),Seq("join_col","join_col_2"),"left")

In [ ]:
df.join(df2,Seq("col_name"),"inner").join(df3,Seq("col_name"),"inner")

In [ ]:
df1.union(df).union(df3)

Pivot

In [ ]:
df.pivot("col_to_pivot").agg(countDistinct("col_name"))

In [ ]:
df.groupBy("col_as_row").pivot("col_to_pivot").agg(countDistinct("col_name"))

handling date column

In [ ]:
df.withColumn("year_col",year($"date_col"))
.withColumn("month_col",month($"date_col"))
.withColumn("day_col",dayofmonth($"date_col")

to check difference in date/time

In [ ]:
df.withColumn("current_date",current_timestamp()).withColumn("time_diff",unix_timestamp($"current_date")- unix_timestamp($"table_datecol")).withColumn("time_diff_1",round($"time_diff"/3600))

to get last weeks monday

In [ ]:
val df = spark.sql("select current_date() as today")
.withColumn("week_start",next_day($"today","Mon")).withColumn("prev_week",date_sub($"week_day",14)).select($"prev_week").first().get(0)

In [ ]:
val df = spark.sql("select current_date() as today").withColumn("week_start",next_day($"today","Mon"))
.withColumn("prev_week",date_sub($"week_day",14)).withColumn("next_day",date_add($"prev_week",3)).select($"next_day").first().get(0)

window function in scala

In [ ]:
import org.apaches.spark.sql.expressions.Window
val window_name = Window.partitionBy("col_name").orderBy("col_name")
df.withColumn("col",row_numnber.over(window_name))
df.withColumn("col_sum", sum("col_name").over(bywindow_name))

type conversion

In [ ]:
df.withColumn("col_name",$"col_name".cast("int"))
df.select($"col_name".cast("date"))

In [ ]:
df.select(date_format($"col_name","dd-mm-yyyy 00:00:00"))

In [ ]:
df.select(lower($"col_name"),initcap($"col_name"))

drop and fill null

In [ ]:
df.na.fill("value to fill")

In [ ]:
df.na.drop()

In [ ]:
df.na.drop(Seq("col1","col2"))

In [ ]:
df.drop("col_name")

handle duplicates

In [ ]:
df.distinct()

In [ ]:
df.select($"col_name").distinct()

In [ ]:
df.dropDuplicates()

In [ ]:
df.dropDuplicates(["col1","col2"])

write dataframes

In [ ]:
df.repartition(1).write.option("header",true).csv("name")

In [ ]:
df.repartition(1).write.option("header",true).mode("overwrite").csv("name")

In [ ]:
df.repartition(1).write.mode('overwrite').parquet("name")

In [ ]:
df.repartition(1).write.option("compression","gzip").csv("name")

In [ ]:
df.repartition(1).write.option("header",true).partitionBy("col_name").csv("name")

make list column

In [ ]:
df.groupBy("col1").agg(collect_list("col_to_list"))

In [ ]:
df.select(concat("col1",",","col2"))

In [ ]:
df.withColumn("new_col",concat("col1",",","col2"))

In [ ]:
df.withColumn("new_col",concat_ws(",",$"col1",$"col2"))

In [ ]:
df.select(collect_list("col_name").over(window).as("new_name"))

display dataframe

In [ ]:
df.show()

In [ ]:
df.show(10)

In [ ]:
df.limit(10)

read csv

In [ ]:
spark.read.format("csv").option("header",true).load("path")
spark.read.option("infersceham","true").option("header","true").csv("file_path")

spliting the data

In [ ]:
val df = df.select(split(col("col_name"),",").as("new_column_nme"))

In [ ]:
val df = df.select(split(col("col_name"),",").as("new_column_nme")).drop("col_name") # when you want to drop the existing column and make new splited column

In [ ]:
val df = df.withColumn("new_col",split(col("existing_name"),",").getItem(0))  # get item will take only first value for eg if 2,3 then it'll only take 2

map

In [ ]:
df = df.select("col_ name").map( {x -> x + 2/ 100})